@tailwind base;
@tailwind components;
@tailwind utilities;

.otp-input {
  @apply w-full flex flex-row justify-around px-5;
}
.otp-input input {
  width: 3rem !important;
  @apply border border-[#04E68F] h-12 block rounded-2xl mt-5;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  visibility: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  visibility: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a5a5a5;
  border-radius: 10px;
  visibility: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
  visibility: visible;
}
